.col button {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

    width: 10vw;
    height: 5vh;

    background-color: rgba(19, 71, 240, 0.8);
    color: #fff;
}

.col button:hover {
    box-shadow: 1px 1px 5px rgb(167, 167, 167);
}

.col label {
    font-weight: bold; 
    display: block; 
    margin-bottom: 1rem;
}

